@model IEnumerable<CarDetailingStudio.Models.ModelViews.OrderServicesCarWashView>

<link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
<link href="~/Content/form.css" rel="stylesheet" />

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <h5 class="card-title m-b-0">Архив заказов</h5>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <div class="table-responsive">
                    @(Html
                       .Grid(Model)
                       .Build(columns =>
                       {
                           columns.Add(model => model.Id);
                           columns.Add(model => model.ClientsOfCarWash.NumberCar).Titled("Номер машины");
                           columns.Add(model => model.OrderDate).Titled("Дата и время заказа");
                           columns.Add(model => model.DiscountPrice).Titled("Стоимость заказа");
                           columns.Add(model => model.ClientsOfCarWash.discont);

                           columns.Add(model => model.StatusOrder1.StatusOrder1).Titled("Статус заказа").Filterable(false);
                           columns.Add(model => model.ClientsOfCarWash.ClientInfo.Surname).Titled("Фамилия").Filterable(false);
                           columns.Add(model => model.ClientsOfCarWash.ClientInfo.Name).Titled("Имя").Sortable(false).Filterable(false);
                           columns.Add(model => model.ClientsOfCarWash.ClientInfo.PatronymicName).Titled("Отчество").Filterable(false);
                           columns.Add(model => model.ClientsOfCarWash.ClientInfo.Phone).Titled("Телефон");

                           columns.Add(model => @Html.ActionLink("Просмотреть", "CompletedOrders", new { idOrder = model.Id}, new { @class = "btn btn-outline-info" })).Encoded(false);
                           //columns.Add(model => @Html.ActionLink("Закрыть заказ", "CloseOrder", new { id = model.Id }, new { @class = "btn btn-outline-success" })).Encoded(false);
                       })
                       .UsingFilterMode(GridFilterMode.Excel)
                       .Empty("No data found")
                       .Filterable(GridFilterType.Single)
                       .Sortable()
                       .Pageable(pager =>
                       {
                           pager.PageSizes = new Dictionary<int, string> { { 20, "20" }, { 25, "25" }, { 50, "50" } };
                           pager.ShowPageSizes = true;
                           pager.RowsPerPage = 1;
                       })
                    )
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
<script>
    [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
        new MvcGrid(element);
    });
</script>
<script src="~/Scripts/MvcGrid/mvc-grid-localizing.js"></script>
<script src="~/Scripts/MvcGrid/mvc-grid-localizing.js"></script>

