<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="carWashEntities" connectionString="metadata=res://*/carWashEntities.csdl|res://*/carWashEntities.ssdl|res://*/carWashEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-DN88AAG5\SQLEXPRESS;initial catalog=carWashServer;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="carWashEntities" connectionString="metadata=res://*/carWashEntities.csdl|res://*/carWashEntities.ssdl|res://*/carWashEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASPNET\SQLEXPRESS;initial catalog=carWashServer;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   

  </connectionStrings>
</configuration>