
/*body, html {
    font-family: 'Lato', monospace;
    font-size: ~'calc(1rem + 1vw)';
}*/



.label {
    padding: 0px 0px;
}

.check {
    color: green;
    font-size: large;
}

.times {
    color: brown;
    font-size: large;
}

.label__checkbox {
    display: none;
}

.label__check {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    i .icon

{
    opacity: 0.2;
    font-size: ~'calc(1rem + 1vw)';
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0,0,0,.5);
}

&:hover {
    border: 5px solid rgba(0,0,0,0.2);
}

}

.label__checkbox:checked + .label__text .label__check {
    animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
    .icon

{
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
}

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes icon {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes check {
    100% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}

.myLabel {
    font-weight: 100;
    font-size: 0.675rem;
}


.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 620px;
}

/*-------scrollbar--------*/
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #BBB4B4;
    box-shadow: 0px 0px 2px #BBB4B4 inset;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 1px #BBB4B4 inset;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
}

::-webkit-scrollbar {
    width: 11px;
}


.colorTr {
    background-color: #6e928f17;
}


.newOrderInputText {
    width: 100%;
    border: none;
    border-bottom: 1px solid red;
}

.card-header {
    padding: 0rem 0rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 0px solid transparent;
}
