@model IEnumerable<CarDetailingStudio.Models.ModelViews.ExpensesView>
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet" />
<link href="~/Content/form.css" rel="stylesheet" />

@*<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <h5 class="card-title m-b-0">Категория расходов</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <h5 class="card-title m-b-0">Архив расходоа</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-responsive">
                        @(Html
                       .Grid(Model)
                       .Build(columns =>
                       {
                           columns.Add(model => model.expenseCategory.name);
                           columns.Add(model => model.Amount);
                           columns.Add(model => model.dateExpenses);

                           columns.Add(model => model.costCategories.Name);
                           columns.Add(model => model.note);
                           columns.Add(model => @Html.ActionLink("Подробнее", "OrderInfo", new { id = model.idExpenses }, new { @class = "btn btn-outline-info" })).Encoded(false);
                       })
                       .UsingFilterMode(GridFilterMode.Excel)
                       .Empty("No data found")
                       .Filterable(GridFilterType.Single)
                       .Sortable()
                       .Pageable(pager =>
                       {
                           pager.PageSizes = new Dictionary<int, string> { { 10, "10" }, { 25, "25" }, { 50, "50" } };
                           pager.ShowPageSizes = true;
                           pager.RowsPerPage = 1;
                       })
                    )
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
<script>
    [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
        new MvcGrid(element);
    });
</script>
<script src="~/Scripts/MvcGrid/mvc-grid-localizing.js"></script>
<script src="~/Scripts/MvcGrid/mvc-grid-localizing.js"></script>


