.auth-wrapper {
	min-height: 100vh;
	position: relative;
}

	.auth-wrapper .auth-box {
		background: #fff;
		padding: 20px;
		-webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
		box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
		max-width: 1400px;
		width: 90%;
		margin: 0% 0;
	}

		.auth-wrapper .auth-box .logo {
			text-align: center;
		}

		.auth-wrapper .auth-box.on-sidebar {
			top: 0px;
			right: 0px;
			height: 100%;
			margin: 0px;
			position: absolute;
		}

	.auth-wrapper #recoverform {
		display: none;
	}

	.auth-wrapper .auth-sidebar {
		position: fixed;
		height: 100%;
		right: 0px;
		overflow: auto;
		margin: 0px;
		top: 0px;
	}

.comment-widgets .comment-row.active, .comment-widgets .comment-row:hover {
	background: rgba(0, 0, 0, 0.28);
}

body {
	margin: 0;
	overflow-x: hidden;
	color: #dfe7ef;
	background: #fff;
}

.btn {
	width: 60%;
}

.btn-outline-info {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #f1f1f1;
}
    .card {
    background-color: #343a40;
    /*box-shadow: 4px 7px 21px -8px #000000;*/
   
    height: 500px;
    /*max-width: 550px;*/
    margin: 10px auto;
    padding: 1em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -5px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
    overflow:auto;
}

.card-title {
    text-align: center;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 0 0 auto;
    padding: 1.25rem;
}

/*-----------------------------------*/
/*body, html {
    font-family: 'Lato', monospace;
    font-size: ~'calc(1rem + 1vw)';
}*/
.label__checkbox {
    display: none;
}

.label__check {
    display: inline-block;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    i .icon

{
    opacity: 0.2;
    font-size: ~'calc(1rem + 1vw)';
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0,0,0,.5);
}

&:hover {
    border: 5px solid rgba(0,0,0,0.2);
}

}

.label__checkbox:checked + .label__text .label__check {
    animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
    .icon

{
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
}

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes icon {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes check {
    100% {
        width: 2em;
        height: 2em;
        background: #00d478;
        border: 0;
        opacity: 1;
    }
}

/*-------scrollbar--------*/
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 6px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #343a40;
    box-shadow: 0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #28526bba;
    box-shadow: 0px 1px 1px #343a40 inset;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 7px;
    height: 0px
}

::-webkit-scrollbar {
    width: 11px;
}